name: ci

on:
pull_request:
branches: [ "main" ]
push:
branches: [ "main" ]

permissions:
contents: read
packages: write

jobs:
build:
runs-on: ubuntu-latest
steps:
- name: Checkout
uses: actions/checkout@v4

  - name: Build image
    run: |
      docker build -t app:${{ github.sha }} .
